<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

    package="vn.danhtran.customglide">

    <application
        android:supportsRtl="true">

        <!--module glide option-->
        <meta-data
            android:name="vn.danhtran.customglide.MyAppGlideModule"
            android:value="GlideModule"
            tools:node="remove" />
    </application>

</manifest>
