<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="vn.danhtran.customglide">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <!--module glide option-->
        <meta-data
            android:name="vn.danhtran.customglide.GlideImageLoader"
            android:value="GlideModule" />
    </application>

</manifest>
